{% load static %}
<link rel="stylesheet" href="{% static 'questionnaire/questions.css' %}">
<title> Questions </title>
<div class = "box">
  <div class="box1-content content">
    <h1> Legal and Governance </h1> </h1>
    <p>
        <form method="post" action = "{% url 'questionnaire:answer' 'legal' %}" >
        {% csrf_token %}
            <div>
              <h3> Q) {{ question.question_text }} </h3> 
              <div class = "answer-box">
                <p> {{ form.answer }} </p>
                <div class = "button" >
                  <button type="submit" name = "continue" style="background:#56a3ba" class="btn btn-info right"> Continue </a></button>
                  <button type="submit" name = "save" style="background:#56a3ba" class="btn btn-info right"> Save & Exit </a></button>
                </div>  
              </div>
            </div>
    </p>
  </div>
</div>
</form>