{% load static %}
{% block extracss %}
<head>  
  <link rel="stylesheet" href="{% static 'questionnaire/questions.css' %}">
  <!-- Script for octicons-->
  <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
</head>
{% endblock%}
{% block content%}
<title> Questions </title>
<div class = "header-top">
  <span class="iconify" data-icon="icon-park-outline:sales-report"></span>
  <h1> Sales and Marketing </h1>
</div>
<div class = "survey">
  <div class = "survey-content">
    <p>
      <form method="post" action = "{% url 'questionnaire:answer' 'sales' %}" >
        {% csrf_token %}
            <div>
              <h3> Q) {{ question.question_text }} </h3> 
              <div class = "answer-box">
                <p> {{ form.answer }} </p>
                <div class = "button" >
                  <button type="submit" name = "continue" style="background:#56a3ba" class="btn btn-info right"> Continue </a></button>
                  <button type="submit" name = "save" style="background:#56a3ba" class="btn btn-info right"> Save & Exit </a></button>
                </div>  
              </div>
            </div>
    </p>
  </div>
</div>
</form>
{% endblock %}