{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/register.css' %}" type="text/css">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
<form class = "reg-from" method="post">
    {% csrf_token %}
    {% for field in profile %}
    <p>
        {{field.label}}
        {{field}}
        {% for error in field.errors %}
            <p style="color:red;">{{error}}</p>
        {% endfor %}

        {% if profile.non_field_errors %}
            <div style="color:red;">
                <p>{{profile.non_field_errors}}</p>
            </div>
        {% endif %} 

    </p>
    {% endfor %}
    <button class="save-button" type="submit" >Save Changes</button>
</form>
</body>
</html>