{% extends 'navbar.html'%}
{% load static %}
{% block extracss%}
<title>
  Home | OUTFRNT
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,bold|M Plus Rounded 1c">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/landingpage/landing.css' %}">
<body>
    <!-- Background -->
    <div id = "background" style = "background-image: url({% static 'images/YukonRiver.png' %});" >
      <div id = "inner-content"> 
          <h1 style = "color:white"> 
            Personal guidance
            Forward together.  
          </h1>
          <p style = "color:white"> We believe in a collaborative and intuitive approach to business expertise. Experience a more human side to business with us</p>
          <div class = "start-button">
            <a class = "button-link" href = "{% url 'accounts:signup'%}"> Let's Get Started</a>
          </div>
      </div>
    </div> 
    <div id = "story" ></div>
    <!-- Story-->
    <div class = "back-splash">
      <div class = "row story">
          <div style = "background-image: url({% static 'images/outfrntbg.png'%})" class = "col story-content">
            <div class = "story-text">
              <h1> Meet Outfrnt </h1>
              <p> 
                  Established in Whitehorse Yukon in January 2020, 
                  OUTFRNT was built through resilience,trust and collaboration as we worked with businessess to navigate the uncertainty and adverse impact of the pandemic.
                  we pride ourselves with bringing a comprehensive and human approach to how we work with our clients. 
                  Connect with us and see how we can help.
              </p>
            </div>
          </div>
          <div class = "col image-content">
            <div class="col round-img-1">
              <img src = "{% static 'images/Josh.jpeg' %}">
            </div>
            <div class="col round-img-2">
              <img src = "{% static 'images/Andy.jpeg' %}">
            </div>
          </div>
      </div>
    </div>
    <div id = "services"></div>
    <!-- Personalized -->
    <div class="row info">
          <div class="col info-header">
            <p class = "side-header">
              Personalized business solutions
            </p>
          </div>
          <div class="col right-content">

            <div class = "row-1">
              <div class = "row-content">
                <div class = "row-1-img"><img  src = "{% static 'images/outfrntarrow.png' %}"></div>
                <h1>Grant writing, business funding, and financing</h1>
                <p> 
                    Whether you're looking to hire,train, or grow your 
                    business through market expansion, grants are a great resource that is often
                    overlooked. Let our experienced team help you develop your funding strategy,prepare for investors,and get ready to 
                    engage with the banks.<span id = "more-content"> ... </span>
                    <p id = "more">
                      We provide the guidance and expertise you'll need 
                      from grant writing & financial planning, to risk management 
                      and disbursement of funds so you can focus on your business 
                      goals with confidence and peace of mind.
                    </p>
                </p>
                <div class = "btn-align"><button id = "btn-1" class = "modal-pop">Learn More</button></div>
              </div>
            </div>
            <div class = "row-2">
              <div class = "row-content">
                <div class = "row-2-img"><img  src = "{% static 'images/outfrntarrow.png' %}"></div>
                <h1>Entrepreneurial business support programming</h1>
                <p>
                  Looking at starting an incubator,accelerator, maybe something in between? We provide expertise in entrepreneurial program design for organizations
                  such as Governments and post secondary institutions<span id = "more-content-2"> ... </span>
                    <p id = "more-2">
                      Our stakeholder centric programming design guides our approach to implementation, 
                      allows for continous improvements, 
                      and creates a framework that is flexible alloqing your program to grow alongside the entrepreneurs you serve
                      Our expertise has contributed to highly robust and engaging business growth, professional development, and graduate with further 
                      business validation and tangible results.

                    </p>
                </p>
                <div class = "btn-align"><button id = "btn-2" class = "modal-pop">Learn More</button></div>
              </div>
            </div>
            <div class = "row-3">
              <div class = "row-content">
                <div class = "row-3-img"><img  src = "{% static 'images/outfrntarrow.png' %}"></div>
                <h1>Business advisory and coaching</h1>
                <p>
                  Navigating the business world is complicated and sometimes all you need is some guidance 
                  with simplifying your business challenges. Our team supports founders, senior leaders, and 
                  other key personnel in your company through the unknowns and the ups and downs with help of our 
                  extensive network of subject matter experts.<span id = "more-content-3"> ... </span>
                    <p id = "more-3">
                     Our collaborative approach with experts, ensures that whatever we work on together is a ligned to teh vision and strategic goals of your company.
                     Whether it be developing human resource policies & procedures, management training, leadership development, financial modeling, branding, digital marketing, procurement, business planning, 
                     sales process , budgeting , or even market validation, we are here for you.
                     Together, we can help guide you through your challenges in a way that is easy to understand, aactionable, and effective.
                    </p>
                </p>
                <div class = "btn-align"><button id = "btn-3" class = "modal-pop">Learn More</button></div>
              </div>
            </div>
            <script>
              let btn = document.getElementById('btn-1');
              btn.addEventListener('click',showMore);
              btn.textToShow = document.getElementById('more')
              btn.toggleShow = document.getElementById('more-content');
    
              let btn2 = document.getElementById('btn-2');
              btn2.addEventListener('click',showMore);
              btn2.textToShow = document.getElementById('more-2');
              btn2.toggleShow = document.getElementById('more-content-2');
    
              let btn3 = document.getElementById('btn-3');
              btn3.addEventListener('click',showMore);
              btn3.textToShow = document.getElementById('more-3');
              btn3.toggleShow = document.getElementById('more-content-3');
    
              function showMore(event){
                var moreContent = event.currentTarget.toggleShow;
                var more = event.currentTarget.textToShow;
                var btnToggle = event.currentTarget;
    
                // if dots have disapread more content is being showed 
                if (moreContent.style.display == "none"){
                  moreContent.style.display = "inline";
                  btnToggle.innerHTML = "Learn More";
                  more.style.display = "none";
                }
                else{
                  moreContent.style.display = "none";
                  more.style.display = "block";
                  btnToggle.innerHTML = "Show Less";
                }
              }
          </script>
          </div>
        </div>
    </div>
    
    <div id = "clients"></div>
    <!-- client reviews -->
      <div  class = "quotes">
        <div class = "quotes-header"> See What Our Clients Have To Say </div>
        <div class = "row top">
          <div class = "col left">
              <div class = "name">
                <a href = "https://www.yukonu.ca/">Yukon University</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/yukonuni.jpg'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">people-centered cultivated and innovative approach</p>
                  <p class = "quote-author">-Lauren Manekin Beille, Dept.Head, Yukon University</p>
                </div>
              </div>
          </div>
          <div class = "col left-center">
              <div class = "name">
                <a href = "https://freepourjennys.com/">Free Pour Jenny's</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/jenny.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...knowledgeable and approachable, and have provided my small business with invaluable insight and advice."</p>
                  <p class = "quote-author">-Jennifer Tyldesley, Owner & Operator</p>
                </div>
              </div>
          </div>
          <div class = "col right-center">
              <div class = "name">
                <a href = "https://www.yukonbuilt.com/">Yukon Built</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/yukonbuilt.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...the advice and solutions they're providing are truly catered to your unique business situation."</p>
                  <p class = "quote-author">-Myles Hougen, Owner & Co-founder</p>
                </div>
              </div>
          </div>
          <div class = " col right">
              <div style = "margin-top:-8%;" class = "name">
                <a href = "https://www.klondiketravel.ca/">Klondike Travel & Yukon Tours</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/travel.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">I found Josh and Andy to be approachable,respectful, and honest."</p>
                  <p class = "quote-author">-Carmen Magro, Owner & Operator</p>
                </div>
              </div>
          </div>
        </div>
        <div class = "row bottom">
          <div class = "col left">
              <div class = "name">
                <a href = "https://www.solvest.ca/">Solvest</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/solvest.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">OUTFRNT'S professionalism and support were excellent and they were responsive throughout the entire process."</p>
                  <p class = "quote-author">-Danny Guhl, Director of Sales & Marketing</p>
                </div>
              </div>
          </div>
          <div class = "col left-center">
              <div class = "name">
                <a href = "https://neighbourlynorth.com/">Neighbourly North</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/north.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...they took the time to know and understand us, and gave us a result that fits our culture."</p>
                  <p class = "quote-author">-Ben Pereira, President</p>
                </div>
              </div>
          </div>
          <div class = "col right-center">
              <div class = "name">
                <a href = "https://www.firebeancoffee.ca/">Firebean Coffee Roasters</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/firebean.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">They are flexible,insightful and I truly fee like I can bring anything to the table."</p>
                  <p class = "quote-author">-Michael Russo, Owner</p>
                </div>
              </div>
          </div>
          <div class = "col right">
              <div class = "name">
                <a href = "https://www.lumelstudios.com/">Lumel Studios</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img style class = "company-image" src = "{% static 'images/lumel.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...they truly listen and workout solutions relative to the things they hear."</p>
                  <p class = "quote-author">-Luann & Mel Johnson, Owners</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- connect -->
      <div id = "connect" class = "connect">
        <div class = "inner-div">
          <div class="row row-cols-2">
            <div class="col side-col">
              <div class = "connect-text">
                <h1 class = "connect-header">Let's Connect !</h1>
                <p>Dont see what you are looking for ?</p>
                <p>Have questions ?</p>
                <p>Looking to connect ?</p>
                <p style = "color:56a3ba;font-weight:bold">Drop us a line! </p>
                <p style = "color:56a3ba;font-weight:bold">We'd love to head from you</p>
              </div>
            </div>
            <div class="col connect-form">
              <form method ="post" class = "form-container" >
                {% csrf_token %}
                <!-- first row -->
                <div class="row row-cols-2 names">
                  <div class="col">
                    {{ form.first_name}}
                  </div>
                  <div class="col">  
                    {{ form.last_name}}
                  </div>
                </div>
                <!-- second row -->
                <div class="row row-cols-2 contact">
                  <div class="col"> 
                    {{ form.email }}
                  </div>
                  <div class="col">
                    {{ form.phone_num }}
                  </div>
                </div>
                 <!-- thrid row -->
                <div class = "text-body"> 
                    {{ form.help_body }}
                </div>
                <!-- fourth row -->
                <div class = "align-btn">
                  <button name = "join-button" type = "sumbit" class = "join-button">Join Us</button>
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
</body>
{% endblock %} 
