.button { 
    display : flex;
    justify-content: center;
    align-items: center;
}
button {
    display : flex;
    justify-content: center;
    align-items: center;
    background: #11526b;
    padding: 10px 50px;
    border-radius: 200px;
    border: none;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.32);
    color: white;
    margin: 30px 0;
  }

.header-top{
}