nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color:white;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #56a3ba;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
.login-btn{
  color:white !important;
  padding:10px 30px 10px 30px !important;
  background-image:linear-gradient(#56a3ba,#a1dcee);
  border-radius: 15px;
}

.logo img{
  image-rendering: auto;
  display: inline-block;
  width: 110px;
  height: auto;
}

.logo{
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: white;
}


.sole-button{
	width:auto !important;
	color:white !important;
	padding:10px 30px 10px 30px !important;
	background-image:linear-gradient(#56a3ba,#a1dcee);
	border-radius: 15px;
}

@media screen and (max-width: 1013px) {
  .logo{
    padding-left: 20px;
    width:0 !important;
  }
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #F2F2F2;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/* footer */

footer{
	position: fixed;
    left: 0;
    bottom: 0;
	position:relative;
	bottom:0;
	left:0;
	right:0;
	background-color: #F2F2F2;
	height:200px;
	width:100vw;
	color:#56a3ba;
}

footer p{
	margin:0;
	padding-top: 0;
}
.socials {
	color:#56a3ba;
	text-align:center;
}
.socials:hover{
	text-decoration:none;
	color:#56a3ba;
}
.left{
	margin-left:10%;
	font-weight: bold;
	margin-top: 50px;
	float:left;
}

.footer-bottom{
	position: fixed;
    left: 0;
    bottom: 0;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding: 10px;
	text-align: center;
	color:#56a3ba;
	background-color:black;
}

.socials{
	margin-top:3%;
	padding-top:1%;
}


@media screen and (max-width:415px){
	.logo img{
		margin-left:50px;
	}
	.footer{
		height:50vh !important;
	}
}