{% extends 'coachBase.html'%}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>       
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<title> OUTFRNT Tasks </title>
<!-- ADD OUTFRNT TASKS  -->
<div class = "card">
  <h5 class="card-header" > Add Task For Clients </h5>
</div>
<div style = "margin-bottom:8px"></div>
<div>
    <div class="card">
      <h5 class = "card-header" style = "background:#56a3ba"></h5>
        <div  class="card-body">
          <p class="card-text">
            <form method="post">
                {% csrf_token %}
                <div> 
                  <h5> [ Client ] : <p style = "float:right;" > <{{ form.user }}> </p> <h5> 
                </div> 
                <h5> [ Title ] : </h5>
                  <p>{{ form.title }}</p>
                <h5> [ Description ] : </h5>
                  <p>{{ form.description }}</p>
                <h5> [ Start Date ] :  </h5>
                  <p>{{ form.start_time }}</p>
                <h5> [ Due Date ] : </h5>
                  <p>{{ form.end_time }}</p>
                <button type="submit" style="background:#56a3ba" class="btn btn-info right"> Add Task </button></td></tr>
                </form>
          </p>
        </div>
  </div>
  <div class="space"></div>
  <div class = "card">
    <h5 class="card-header" > OUTFRNT Task </h5>
  </div>
  <div style = "margin-bottom:8px"></div>
  <!-- MANAGE OUTFRNT TASKS  -->
  <div>
      <div class="card">
          <h5 class="card-header" style = "background:#56a3ba"> 
            <div style = "float:right">
                  <form class = "form-inline">
                  <input  class = "form-control mr-sm-2" name = "search-key" type = "search" placeholder = "Filter Clients" aria-label = "Search">
                  <button style = "background:white" class = "btn btn-info right" type = "submit"><i style = "color:#56a3ba" class = "fa fa-search" aria-hidden = "true"></i></button>
                </form>
              </div>
          </h5>
          <div class="card-body">
          <p class="card-text">
              <table class="table table-hover">
              <thead>
                  <tr>
                      <th class = "row-header" scope="col">Company</th>
                      <th class = "row-header" scope="col">Contact Info.</th>
                      <th class = "row-header" scope="col">Task</th>
                      <th class = "row-header" scope="col">Due Date</th>
                      <th class = "row-header" scope="col">Edit</th>
                  </tr>
              </thead>
                  <tbody>
                  {% for task in tasks %}
                  <tr>
                      <td class = "content" > {{ task.user }} </td>
                      <td class = "content" > {{ task.user.email }} </td>
                      <td class = "content" > {{ task.description }} </td>
                      <td class = "content" > {{ task.end_time }} </td>
                      <td class = "content" > 
                        <a class = "button-link" href="{% url 'calendarapp:delete' task.id %}"><span> Delete </span></a>
                      </td>
                        
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </p>
      </div>
  </div>
  <div class="space"></div>
{% endblock %}
