{% load static%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>       
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Script for octicons-->
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<link rel="stylesheet" href="{% static 'css/coachNav.css'%}">
<div class="sidebar-container">
  <div class="sidebar-logo">
    add outfrnt logo here
  </div>
  <ul class="sidebar-navigation">
    <li class="header"> Coach Access </li>
    <li>
      <a class = "side-titles" href="{% url 'calendarapp:outfrnt_task'%}">
        Tasks
      </a>
    </li>
    <li>
      <a class = "side-titles" href="{% url 'questionnaire:add-questions'%}">
        Questions
      </a>
    </li>
    <li>
  </ul>
  <ul class="sidebar-navigation">
    <li class="header"> Client Info </li>
    <li>
      <a class = "side-titles" href="{% url 'calendarapp:view-tasks'%}">
       Tasks
      </a>
    </li>
    <li class="header"> Admin Access </span> </li>
    <li>
      <a class = "side-titles" href="{% url 'accounts:manage' %}">
       Manage Clients
      </a>
    </li>
    <li class="header"> Account </li>
    <li>
      <a class = "side-titles" href="{% url 'accounts:home'%}">
       Home
      </a>
    </li>
    <li>
      <a class = "side-titles" href="{% url 'password_change'%}">
       Change Password
      </a>
    </li>
    <li>
      <a class = "side-titles" href="{% url 'accounts:signout'%}">
       Sign Out
      </a>
    </li>
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">
    
    {%block content %} 
 
    {%endblock%}

  </div>
</div>

