{% extends 'navbar.html'%}
{% load static %}
{% block extracss%}
<link rel="stylesheet" href="{% static 'css/landingpage/landing.css' %}">
{% endblock %}
{% block content %}
<body>
    <div id = "background" style = "background-image: url({% static 'images/landscape.jpeg' %});" >
       <div id = "inner-content"> 
            <h1 style = "color:white"> personal guidance </h1>
            <h1 style = "color:white"> forward together. </h1>
            <p style = "color:white"> we believe in a collaborative and intuitive approach to business expertise.Experience a more human side to business with us</p>
            <div>
                <a style = "color:white" class = "button-link" href = "{% url 'accounts:signup'%}">discover the possibilities</a>
            </div>
        </div>
    </div>
    <div class = "story">
        <div class="row">
          <div class="col-sm round-img-1">
            josh image
          </div>
          <div class="col-sm round-img-2">
           andy image
          </div>
          <div class="col-sm story-sec">
              <div class = "story-content">
                <h1> our story </h1>
                <p> 
                    Established in Whitehorse Yukon in January 2020, 
                    OUTFRNT was built through resilience,trust and collaboration as we worked with businessess to navigate the uncertainty and adverse impact of the pandemic.
                    we pride ourselves with bringing a comprehensive and human approach to how we work with our clients. 
                    Connect with us and see how we can help.
                </p>
              </div>
          </div>
        </div>
      </div>
</body>
{% endblock %} 
