{% extends 'navbar.html'%}
{% load static %}
{% block extracss%}
<title>
  Home | OUTFRNT
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/landingpage/landing.css' %}">
{% endblock %}
{% block content %}
<body>
    <!-- Background -->
    <div id = "background" style = "background-image: url({% static 'images/YukonRiver.png' %});" >
      <div id = "inner-content"> 
          <h1 style = "color:white"> 
            personal guidance
            forward together.  
          </h1>
          <p style = "color:white"> We believe in a collaborative and intuitive approach to business expertise. Experience a more human side to business with us</p>
          <div class = "start-button">
            <a style = "color:white" class = "button-link" href = "{% url 'accounts:signup'%}">Get Started</a>
          </div>
      </div>
    </div> 
    <!-- Story-->
    <div id = "story" class = "back-splash">
      <div class = "row story">
          <div class = "col-sm-6 story-content">
            <h1> Meet Outfrnt </h1>
            <p> 
                Established in Whitehorse Yukon in January 2020, 
                OUTFRNT was built through resilience,trust and collaboration as we worked with businessess to navigate the uncertainty and adverse impact of the pandemic.
                we pride ourselves with bringing a comprehensive and human approach to how we work with our clients. 
                Connect with us and see how we can help.
            </p>
          </div>
          <div class = "col-sm-4 image-content">
            <div class="col round-img-1">
              <img src = "{% static 'images/Josh.jpg' %}">
            </div>
            <div class="col-sm round-img-2">
              <img src = "{% static 'images/Andy.jpg' %}">
            </div>
          </div>
      </div>
    </div>
    <!-- Personalized -->
    <div id = "services" class="row info">
          <div class="col info-header">
            <p class = "side-header">
              personalized business solutions
            </p>
          </div>
          <div class="col right-content">
            <div class = "row-1">
              <div class = "row-content">
                <div class = "row-1-img"><img  src = "{% static 'images/outfrnt_logo_icon.png' %}"></div>
                <h1>grant writing, business funding, and financing</h1>
                <p> Whether you're looking to hire,train, or grow your 
                    business through market expansion, grants are a great resource that is often
                    overlooked.Let our experienced team help you develop your funding strategy,prepare for investors,and get ready to 
                    engage with the banks.
                </p>
                <button class = "modal-pop">Learn More</button>
              </div>
            </div>
            <div class = "row-2">
              <div class = "row-content">
                <div class = "row-2-img"><img  src = "{% static 'images/outfrnt_logo_icon.png' %}"></div>
                <h1>entrepreneurial business support programming</h1>
                <p>
                  Looking at starting an incubator,accelerator, maybe something in between? We provide expertise in entrepreneurial program design for organizations
                  such as Governments and post secondary institutions
                </p>
                <button class = "modal-pop">Learn More</button>
              </div>
            </div>
            <div class = "row-3">
              <div class = "row-content">
                <div class = "row-3-img"><img  src = "{% static 'images/outfrnt_logo_icon.png' %}"></div>
                <h1>business advisory and coaching</h1>
                <p>
                  Navigating the business world is complicated and sometimes all you need is some guidance 
                  with simplifying your business challenges. Our team supports founders, senior leaders, and 
                  other key personnel in your company through the unknowns and the ups and downs with help of our 
                  extensive network of subject matter experts.
                </p>
                <button class = "modal-pop">Learn More</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- client reviews -->
      <div id = "clients" class = "quotes">
        <div class = "quotes-header"> See What Our Clients Have To Say </div>
        <div class = "quotes-container">
          <div class="row rows-cols-4 rows-cols-4 top">
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://www.yukonu.ca/">Yukon University</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/yukonuni.jpg'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">people-centered cultivated and innovative approach</p>
                  <p class = "quote-author">-Lauren Manekin Beille, Dept.Head, Yukon University</p>
                </div>
              </div>
            </div>
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://freepourjennys.com/">Free Pour Jenny's</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/jenny.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...knowledgeable and approachable, and have provided my small business with invaluable insight and advice."</p>
                  <p class = "quote-author">-Jennifer Tyldesley, Owner & Operator</p>
                </div>
              </div>
            </div>
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://www.yukonbuilt.com/">Yukon Built</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/yukonbuilt.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...the advice and solutions they're providing are truly catered to your unique business situation."</p>
                  <p class = "quote-author">-Myles Hougen, Owner & Co-founder</p>
                </div>
              </div>
            </div>
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://www.klondiketravel.ca/">Klondik Travel & Yukon Tours</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/travel.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">I found Josh and Andy to be approachable,respectful, and honest."</p>
                  <p class = "quote-author">-Carmen Magro, Owner & Operator</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row rows-cols-4 rows-cols-4 bottom">
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://www.solvest.ca/">Solvest</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/solvest.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">OUTFRNT'S professionalism and support were excellent and they were responsive throughout the entire process."</p>
                  <p class = "quote-author">-Danny Guhl, Director of Sales & Marketing</p>
                </div>
              </div>
            </div>
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://neighbourlynorth.com/">Neighbourly North</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/north.jpg'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...they took the time to know and understand us, and gave us a result that fits our culture."</p>
                  <p class = "quote-author">-Ben Pereira, President</p>
                </div>
              </div>
            </div>
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://www.firebeancoffee.ca/">Firebean Coffee Roasters</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img class = "company-image" src = "{% static 'images/firebean.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">They are flexible,insightful and I truly fee like I can bring anything to the table."</p>
                  <p class = "quote-author">-Michael Russo, Owner</p>
                </div>
              </div>
            </div>
            <div class="col company-container">
              <div class = "link-align">
                <a class = "company-link" href = "https://www.lumelstudios.com/">Lumel Studios</a>
              </div>
              <div class = "main-quote">
                <div class = "overlay-quote">
                  <img style class = "company-image" src = "{% static 'images/lumel.render.png'%}">
                </div>
                <div class = "company-quote">
                  <span class="iconify" style = "color:#56a3ba" data-icon="ri:double-quotes-l" data-width="45" data-height="45"></span>
                  <p class = "quote-content">...they truly listen and workout solutions relative to the things they hear."</p>
                  <p class = "quote-author">-Luann & Mel Johnson, Owners</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- connect -->
      <div id = "connect" class = "connect">
        <div class = "inner-div">
          <div class="row row-cols-2">
            <div class="col side-col">
              <div class = "connect-text">
                <h1 class = "connect-header">Let's Connect !</h1>
                <p>Dont see what you are looking for ?</p>
                <p>Have questions ?</p>
                <p>Looking to connect ?</p>
                <p style = "color:56a3ba;font-weight:bold">Drop us a line! </p>
                <p style = "color:56a3ba;font-weight:bold">We'd love to head from you</p>
              </div>
            </div>
            <div class="col connect-form">
              <form method ="post" class = "form-container" >
                {% csrf_token %}
                <!-- first row -->
                <div class="row row-cols-2 names">
                  <div class="col">
                    {{ form.first_name}}
                  </div>
                  <div class="col">  
                    {{ form.last_name}}
                  </div>
                </div>
                <!-- second row -->
                <div class="row row-cols-2 contact">
                  <div class="col"> 
                    {{ form.email }}
                  </div>
                  <div class="col">
                    {{ form.phone_num }}
                  </div>
                </div>
                 <!-- thrid row -->
                <div class = "text-body"> 
                    {{ form.help_body }}
                </div>
                <!-- fourth row -->
                <button name = "join" type = "sumbit" class = "join-button">Join Us</button>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
</body>
{% endblock %} 
